<ul>
  <% @references.each do |reference| %>
    <li> <%= reference.body %> </li>
  <% end %>
</ul>

<%= form_for Reference.new do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>
