<h2> <%= @category.name %> </h2>

<p> <%= @category.description %> </p>

<ul>
	<% @category.projects.each do |project| %>
		<li> <%= link_to project.name, category_project_path(@category, project) %> </li>
	<% end %>
</ul>

<% if is_admin? %>
	<p> <%= link_to 'New Project',  new_category_project_path(@category) %> </p>
	<p> <%= link_to 'Edit Category', edit_category_path(@category) %> </p>
	<p> <%= link_to 'Delete Category', category_path(@category), :method => 'delete' %> </p>
<% end %>

<p> <%= link_to 'Back to categories', categories_path %> </p>
